@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

Main{
    min-height: 100%;
    background-image: url("../imgs/bg.svg");
    background-position-y: -15vh;
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-color: var(--color-bg-secondary);
}

.light{
    --logo-fill: #22355E;
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #217C97;
    --color-bg-hover: #d8d8d8;
    --color-font-primary: #FC4067;
    --color-font-secondary: #15262E;
    --color-font-dark: #000000;
    --color-font-light: #ffffff;
    --color-border-primary: #15262E;
    --color-border-secondary: #2C6693;
    --color-circle-primary: #F3D2F2;
    --color-mode: #2C6693;
    --color-bg-footer: #2e343d;
    --color-bg-menu-responsivo: #ffffff;
    --color-menu-icon: #15262E;
}

.dark{
    --logo-fill: #FFFFFF;
    --color-bg-primary: #242A38;
    --color-bg-secondary: #217C97;
    --color-bg-hover: #d8d8d8;
    --color-bg-footer: #2e343d;
    --color-font-primary: #2f92f0;
    --color-font-secondary: #fff;
    --color-font-dark: #fff;
    --color-font-light: #ffffff;
    --color-border-primary: #fff;
    --color-border-secondary: #fff;
    --color-circle-primary: #F3D2F2;
    --color-mode: #fff;
    --color-bg-menu-responsivo: #242A38;
    --color-menu-icon: #FFFFFF;
}

body{
    background-color: var(--color-bg-primary);
}


.footer{
    height: 25vh;
    width: 100%;
    min-height: 110px;
    background-color: var(--color-bg-footer);
    display: flex;
    align-items: center;
    color: var(--color-font-light);
    font-family: Roboto;
    justify-content: space-between;
}

.endereco{
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
}
.endereco h2{
    margin-bottom: 0.5em;
}


.endereco-local{
    font-weight: 500;
    cursor: pointer;
    display: flex;
    transition: 1s;
}
.endereco-local:hover{
    color: var(--color-font-primary);
}

.email-footer{
    margin-top: 3.5vh;
    vertical-align: middle;
}
.email-footer i {
    font-size: 0.8rem;
}
.email-footer span{
    margin-left: 1vw;
}

@media (max-width: 700px){
    .footer-sociais{
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 0.8em;
    }
    .footer-sociais i {
        margin-right: 2vw;
    }
}
@media (min-width: 701px){
    .footer-sociais{
        margin-right: 10vw;
    }
}


.endereco-local div{
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}
.iconsFooter{
    transition: 1s;
    cursor: pointer;
    font-size: 2em;
    margin-right: 1em;
}

.iconsFooter:hover{
    color: var(--color-font-primary);
}